<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.cs442arafaliy.com.project" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".List"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".ListDetail"
            android:label="@string/title_activity_list_detail" >
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name=".MapView"
            android:label="@string/title_activity_map_view" >
        </activity>
        <activity
            android:name=".Si"
            android:label="@string/title_activity_si" >
        </activity>
        <activity
            android:name=".Con"
            android:label="@string/title_activity_con" >
        </activity>
        <activity
            android:name=".New_con"
            android:label="@string/title_activity_new_con" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCw4cMv8o6BO6i8bjj0g19y2LM0NztXuzM"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>


</manifest>
